/* Font */
/* Font End */
/* Button */
/* Button End */
/* Input */
/* Input End */
/* Max Width */
/* Max Width End */
/* Border Radius */
/* Border Radius End */
/* Spacer */
/* Spacer End */
/* FontSize */
/* FontSize End */
/* Font Weight */
/* Font Weight End */
/* Link */
/* Link End */
/* Container */
/* Container End */
/* Nav */
/* Nav End */
/* Navbar */
/* Navbar End */
/* Max Width */
/* Max Width End */
/* Card */
/* Card End */
/* Pagination */
/* Pagination End */
/* Breadcrumbs */
/* Breadcrumbs End */
/* Progressbar */
/* Progressbar End */
/* Check input */
/* Check input End */
/* Modal */
/* Modal End */
/*! Flickity v2.2.2
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

.lazyload, .lazyloading {
  opacity: 0;
}

img.lazyloaded {
  opacity: 1;
  transition: opacity 0.3s;
}

.carousel-cell-image {
  transition: opacity 0.3s;
  opacity: 0;
}

.flickity-lazyloaded, .flickity-lazyerror {
  opacity: 1;
}

.hp-header {
  background: #fff url(../images/header-shape.svg);
  background-repeat: repeat-x;
  background-position: top;
  padding-top: 32px !important;
  padding-bottom: 48px !important;
  border-bottom: 3px solid #3c9dd2;
}
@media (min-width: 1200px) {
  .hp-header {
    height: 11.5625rem;
  }
}
@media (min-width: 768px) {
  .hp-header {
    padding-top: 61px !important;
    padding-bottom: 71px !important;
  }
}
@media (min-width: 992px) {
  .hp-header .container-fluid {
    --bs-gutter-x: 3rem;
    height: 4.5rem;
  }
}
@media (min-width: 1200px) {
  .hp-header .container-fluid {
    --bs-gutter-x: 4.33125rem;
  }
}

.hp-header-action {
  color: #0c0c15;
  border-bottom: 3px dotted #d66442;
}

.hp-sub-header {
  position: relative;
  top: -28px;
  z-index: 10;
}

.sub-header-corner {
  width: 29px;
  height: 52px;
}
.sub-header-corner.--right {
  margin-left: -1px;
  clip-path: path("M1 53V1.01171C6.51707 0.73069 9.42886 5.57825 10.1951 8.03715C18.2585 7.89664 20.1565 15.7066 20.0976 19.6291H23.2805C24.3415 19.6291 30 26.1277 30 27.1815C30 28.2353 26.1586 32.2127 24.3415 34.0313L20.0976 34.3826C20.522 43.2346 13.6728 45.6818 10.1951 45.7989C9.20488 51.1383 3.65244 52.8244 1 53Z");
}
.sub-header-corner.--left {
  margin-right: -1px;
  clip-path: path("M30 53V1.01171C24.4829 0.73069 21.5711 5.57825 20.8049 8.03715C12.7415 7.89664 10.8435 15.7066 10.9024 19.6291H7.71951C6.65853 19.6291 0.999997 26.1277 1 27.1815C1 28.2353 4.84138 32.2127 6.65853 34.0313L10.9024 34.3826C10.478 43.2346 17.3272 45.6818 20.8049 45.7989C21.7951 51.1383 27.3476 52.8244 30 53Z");
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .hp-navbar-menu {
    height: 65vh !important;
  }
}
@media (max-width: 767.98px) {
  .hp-navbar-menu {
    height: 55vh !important;
  }
}
@media (max-width: 991.98px) {
  .hp-navbar-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: #fff;
    z-index: 400;
    transform: translateY(100%);
    transition: 0.7s transform cubic-bezier(0.33, 1, 0.68, 1);
    will-change: transform;
    padding: 3rem 2rem;
  }
  .hp-navbar-menu.show {
    transform: translateY(0);
    box-shadow: 0 0 20px 15px rgba(12, 12, 21, 0.1);
  }
  .hp-navbar-menu .navbar-nav {
    height: 100%;
    align-items: center;
  }
  .hp-navbar-menu .nav-item {
    flex: 1;
  }
  .hp-navbar-menu .nav-link {
    font-size: 20px;
  }
}

@media (max-width: 1199.98px) {
  .sub-header-overflow {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

.hp-footer {
  padding-bottom: 42px;
}
@media (min-width: 992px) {
  .hp-footer {
    padding-bottom: 70px;
  }
}

.footer-col-header {
  flex: 0 0 68px;
  height: 68px;
}

.footer-svg-wrap {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: solid 1px rgba(137, 136, 136, 0.1);
  margin: 0 auto;
}

.hp-intro {
  position: relative;
  padding: 80px 0 90px;
  height: 407px;
  background-size: cover;
  margin-top: -53px;
}
@media (min-width: 992px) {
  .hp-intro {
    background-size: 100% 100%;
  }
}

.hp-intro-input {
  height: 63px;
  text-align: center;
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.07) !important;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  box-shadow: 0 5px 14px 0 rgba(23, 42, 73, 0.44);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.11)), linear-gradient(96deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.07));
  background-origin: border-box;
  border: 2px solid #8e9ec9;
}
.hp-intro-input::placeholder {
  color: #fff;
}

.--grayscale-img {
  filter: grayscale(1) brightness(100);
}

.intro-scroll-down {
  padding: 0;
  position: absolute;
  bottom: calc(58px / 2 * -1);
  left: 50%;
  transform: translateX(-50%);
  box-shadow: none !important;
}
.intro-scroll-down svg {
  position: absolute;
}
.intro-scroll-down::before {
  content: "";
  display: block;
  width: 59px;
  height: 59px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotate(42deg);
  box-shadow: 0 2px 66px 0 rgba(166, 166, 166, 0.66);
}

.hp-category-groups {
  padding: 80px 0;
}

.hp-category-and-articles {
  padding: 100px 0 140px;
  background-color: #f5f5f5;
  --haze-color: #f5f5f5;
  --haze-size: 80px;
}
@media (min-width: 768px) {
  .hp-category-and-articles {
    --haze-size: 100px;
  }
}
@media (min-width: 1200px) {
  .hp-category-and-articles {
    --haze-size: 180px;
  }
}

.article-cell {
  height: 100%;
  width: 264px;
  margin-left: 10px;
}

.article-aside-wrap {
  width: 90px;
}
@media (min-width: 576px) {
  .article-aside-wrap {
    width: 200px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .article-aside-wrap {
    width: 150px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .article-aside-wrap {
    width: 246px;
  }
}

@media (min-width: 768px) {
  .article-img-wrap {
    width: 286px;
  }
}

@media (min-width: 992px) {
  .article-container-fluid {
    padding-left: 0 !important;
  }
}

.article-bookmark {
  position: absolute;
  bottom: calc(35px / -2);
  left: 1rem;
  padding: 0;
  width: 35px;
  height: 35px;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.17);
  border: solid 1px rgba(151, 151, 151, 0.31);
  border-radius: 50%;
}

.article-img {
  position: relative;
  flex: 1 0 196px;
  height: 196px;
}

@media (max-width: 575.98px) {
  .article-aside-title {
    writing-mode: vertical-lr;
  }
}

.article-carousel {
  height: 350px;
}
@media (min-width: 992px) {
  .article-carousel {
    height: 100%;
  }
}

.other-article-carousel {
  height: 350px;
}

.custom-flickity-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  appearance: none;
  border: 0;
  width: 29px;
  height: 52px;
  padding: 0;
  z-index: 60;
}
.custom-flickity-button.--next {
  clip-path: path("M1 53V1.01171C6.51707 0.73069 9.42886 5.57825 10.1951 8.03715C18.2585 7.89664 20.1565 15.7066 20.0976 19.6291H23.2805C24.3415 19.6291 30 26.1277 30 27.1815C30 28.2353 26.1586 32.2127 24.3415 34.0313L20.0976 34.3826C20.522 43.2346 13.6728 45.6818 10.1951 45.7989C9.20488 51.1383 3.65244 52.8244 1 53Z");
  left: 0;
}
.custom-flickity-button.--next.--stick-edge {
  left: -1.25rem;
}
@media (min-width: 768px) and (max-width: 1399.98px) {
  .custom-flickity-button.--next.--stick-edge {
    left: -2rem;
  }
}
@media (min-width: 1400px) {
  .custom-flickity-button.--next.--stick-edge {
    left: -2.5rem;
  }
}
.custom-flickity-button.--next svg {
  margin-left: -10px;
}
.custom-flickity-button.--prev {
  clip-path: path("M30 53V1.01171C24.4829 0.73069 21.5711 5.57825 20.8049 8.03715C12.7415 7.89664 10.8435 15.7066 10.9024 19.6291H7.71951C6.65853 19.6291 0.999997 26.1277 1 27.1815C1 28.2353 4.84138 32.2127 6.65853 34.0313L10.9024 34.3826C10.478 43.2346 17.3272 45.6818 20.8049 45.7989C21.7951 51.1383 27.3476 52.8244 30 53Z");
  right: 0;
}
.custom-flickity-button.--prev.--stick-edge {
  right: -1.25rem;
}
@media (min-width: 768px) and (max-width: 1399.98px) {
  .custom-flickity-button.--prev.--stick-edge {
    right: -2rem;
  }
}
@media (min-width: 1400px) {
  .custom-flickity-button.--prev.--stick-edge {
    right: -2.5rem;
  }
}
.custom-flickity-button.--prev.--stick-edge-lg {
  right: -1.25rem;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .custom-flickity-button.--prev.--stick-edge-lg {
    right: -2rem;
  }
}
@media (min-width: 992px) {
  .custom-flickity-button.--prev.--stick-edge-lg {
    right: 0;
  }
}
.custom-flickity-button.--prev svg {
  margin-right: -10px;
}

.hp-comments {
  padding: 100px 0 40px;
}

.comments-carousel {
  --haze-color: #fff;
  --haze-size: 100px;
}

.comment-cell {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 165px;
  margin-left: 80px;
}

.comment-nav-cell {
  margin-left: 80px;
}

.comment-cell img {
  transition: 0.25s transform ease;
  border: 10px solid #fff;
}

.comment-cell:not(.is-selected) img {
  transform: scale(0.85);
}

.comment-cell.is-selected img {
  box-shadow: 0 0 1px 2px rgba(38, 40, 58, 0.2);
}

.commnet-nav-desc {
  letter-spacing: -1px;
}

.flickity-haze-overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  pointer-events: none;
  z-index: 11;
}
.flickity-haze-overlay > .haze {
  width: 50%;
  height: 100%;
  opacity: 1;
  transition: all 0.3s ease-in-out 0s;
}
.flickity-haze-overlay > .haze.--off-haze {
  opacity: 0 !important;
}
.flickity-haze-overlay > .haze.--right {
  background: linear-gradient(90deg, transparent 0%, transparent calc(100% - var(--haze-size, 100px)), var(--haze-color, #fff) 100%);
}
.flickity-haze-overlay > .haze.--left {
  background: linear-gradient(90deg, var(--haze-color, #fff) 0%, transparent var(--haze-size, 100px), transparent 100%);
}

.custom-flickity-button {
  transition: 0.2s all ease;
}

.show-hide-arrows.--hide-right-arrow .custom-flickity-button.--prev {
  visibility: hidden;
  opacity: 0;
}
.show-hide-arrows.--hide-left-arrow .custom-flickity-button.--next {
  visibility: hidden;
  opacity: 0;
}

.hp-keywords {
  padding: 70px 0;
}
@media (min-width: 1200px) {
  .hp-keywords {
    padding: 100px 0;
  }
}

.section-header-divide > .divide {
  flex: 1;
  width: 100%;
  border: 6px solid #d66442;
  background-color: #d66442;
  border-radius: 16px;
  max-width: 104px;
}

.interest-article-img {
  max-height: 131px;
}

.interest-article-haze {
  position: absolute;
  bottom: 1.2rem;
  left: 0;
  width: 100%;
  height: 131px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.99), var(--slider-hint, 75%), rgba(255, 255, 255, 0));
}

.interest-article-collapse {
  transition: 0.2s all ease;
}
.interest-article-collapse.--collapse-open {
  padding-bottom: 120px;
}

.interest-article-collapse .collapse,
.interest-article-collapse .collapsing {
  height: 1180px;
}

.interest-article-collapse .collapse {
  position: relative;
  display: block;
  overflow: hidden;
}

.interest-article-collapse .collapse.show {
  height: auto;
  /* You need to reset the height when not collapsed */
}

.bg-f5 {
  background-color: #f5f5f5;
}
.bg-f5.--radius-50 {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.hp-category-items {
  position: relative;
  top: -70px;
}

.category-item-inner {
  min-height: 309px;
}

@media (max-width: 1199.98px) {
  .overflow-hidden-down-xl {
    overflow: hidden;
  }
}

.category-item-carousel .flickity-viewport {
  overflow: visible;
}
.category-item-carousel::after {
  content: "flickity";
  display: none;
}
@media (min-width: 1200px) {
  .category-item-carousel::after {
    content: "";
  }
}

@media (max-width: 1199.98px) {
  .category-item-cell {
    margin-left: 20px;
    min-width: 210px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.card-img-haze {
  position: relative;
}
@media (min-width: 992px) {
  .card-img-haze::after {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 25%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.73) 60%, #fff 100%, #fff);
  }
}

.first-course-img {
  width: 100%;
  height: 100%;
}
@media (max-width: 991.98px) {
  .first-course-img {
    max-height: 295px;
  }
}
@media (min-width: 1200px) {
  .first-course-img {
    border-top-right-radius: 10px;
  }
}

.hp-bg-overlay {
  position: relative;
  z-index: 1;
}
.hp-bg-overlay::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 400px;
  margin-top: -53px;
  background: url(../images/hero-bg.png);
  z-index: -1;
}

.keyword-link {
  min-width: 130px;
}

.hp-other-posts {
  padding: 75px 0;
}

.your-post-comment {
  border: 3px solid rgba(151, 151, 151, 0.2) !important;
}

.your-post-comment {
  position: relative;
}
.your-post-comment::before {
  content: attr(data-fieldset-title);
  position: absolute;
  top: -21px;
  right: 1.5rem;
  background-color: #fff;
  font-size: 1.25rem;
  font-weight: 900;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .your-post-comment::before {
    right: 2.8125rem;
    font-size: 1.6875rem;
  }
}

.btn-send-comment {
  max-width: 100%;
  width: 254px;
}

.hp-post-comments {
  padding: 100px 0;
}

.post-comment {
  position: relative;
  background-color: #f5f5f5;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  z-index: 1;
  padding: 2rem 1.875rem 2rem 2rem;
}
@media (min-width: 768px) and (max-width: 1399.98px) {
  .post-comment {
    padding: 2rem 1.875rem 2rem 58px;
  }
}
@media (min-width: 1400px) {
  .post-comment {
    padding: 2rem 1.875rem 1rem 86px;
  }
}
.post-comment:not(.--has-callback) {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
@media (max-width: 1399.98px) {
  .post-comment.--has-callback {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}
@media (min-width: 1400px) {
  .post-comment.--has-callback::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background-color: #f5f5f5;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}
.post-comment.--post-comment-right::before {
  content: "";
  position: absolute;
  top: -35px;
  right: 45px;
  border-color: transparent transparent #f5f5f5;
  border-width: 19px;
  border-style: solid;
  display: block;
}
.post-comment.--post-comment-left::before {
  content: "";
  position: absolute;
  top: -35px;
  left: 45px;
  border-color: transparent transparent #000;
  border-width: 19px;
  border-style: solid;
  display: block;
}
.post-comment.post-callback {
  background-color: #000;
  color: rgba(255, 255, 255, 0.8);
}

.post-header {
  padding-bottom: 28px;
}
.post-header:not(.--post-header-reverse) {
  padding-right: 50px;
}
.post-header.--post-header-reverse {
  padding-left: 50px;
}

.post-comment-position {
  position: relative;
}
@media (max-width: 1399.98px) {
  .post-comment-position {
    margin-top: 1rem;
  }
}
@media (min-width: 1400px) {
  .post-comment-position {
    top: -50px;
  }
}

.other-course-carousel {
  height: 390px;
}

.course-line-vertical {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.course-line-vertical.--course-line-parent > .course-line-item:not(:last-child) {
  border-top: 1px solid #ccc;
}
.course-line-vertical.--course-line-child > .course-line-item {
  border-top: 1px solid #ccc;
}
.course-line-vertical .course-line-item.--first {
  border-top: 0 !important;
}
.course-line-vertical .course-line-item.--first .course-line {
  min-height: 65px !important;
}
.course-line-vertical .course-line-item.--first .line-counter {
  top: 20px !important;
  background-color: #0c0c15;
  border-color: #0c0c15;
  color: #fff;
}
.course-line-vertical .course-line-item.--first-center .course-line {
  min-height: 88px !important;
}
.course-line-vertical .course-line-item.--first-center .line-counter {
  background-color: #0c0c15;
  border-color: #0c0c15;
  color: #fff;
}
.course-line-vertical .course-line {
  flex-shrink: 0 !important;
  position: relative;
  width: 70px;
  min-height: 88px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .course-line-vertical .course-line {
    width: 100px;
  }
}
.course-line-vertical .course-line .line {
  width: 3px;
  flex: 1 0 50%;
  background-color: rgba(12, 12, 21, 0.12);
}
.course-line-vertical .course-line .line.--is-passed {
  background-color: #81b214;
}
.course-line-vertical .course-line .line-counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  line-height: 39px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 900;
  background-color: #fff;
  border: 3px solid #ceced0;
  border-radius: 50%;
  color: rgba(12, 12, 21, 0.5);
}
@media (min-width: 768px) {
  .course-line-vertical .course-line .line-counter {
    width: 49px;
    height: 49px;
    line-height: 48px;
  }
}
.course-line-vertical .course-line .line-counter svg {
  transition: 0.2s transform ease-out;
}
.course-line-vertical .course-line .line-counter[aria-expanded=false] svg {
  transform: rotate(90deg);
}
.course-line-vertical .course-line .line-counter.--is-passed-counter {
  background-color: #81b214;
  border-color: #81b214;
  color: #fff;
  box-shadow: 0 0 0 4px #fff;
}
.course-line-vertical .course-content {
  padding-left: 1rem;
}
@media (min-width: 768px) and (max-width: 1399.98px) {
  .course-line-vertical .course-content {
    padding-left: 1.5rem;
  }
}
@media (min-width: 1400px) {
  .course-line-vertical .course-content {
    padding-left: 2.3rem;
  }
}
.course-line-vertical .course-content .course-content-link {
  color: rgba(12, 12, 21, 0.8);
}
.course-line-vertical .course-content .course-content-link:hover {
  color: #0c0c15;
}

.progress-bar {
  border-radius: 7px;
}

.svg-course-height {
  height: 36px;
}

.hp-course-comments {
  padding: 100px 0;
}

.course-carousel .flickity-button[disabled] {
  visibility: hidden;
}

.course-carousel-cell {
  width: 33.333333%;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .course-carousel-cell {
    width: 25%;
  }
}
@media (min-width: 992px) {
  .course-carousel-cell {
    width: 20%;
  }
}

.hp-episodes {
  padding: 92px 0 45px 0;
  margin-top: -53px;
}

.episode-collapse-body li:not(:last-child) {
  margin-bottom: 16px;
}

.episode-collapse-link {
  padding: 6px 0;
}

.episode-collapse-dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ceced0;
}
.episode-collapse-dot.--is-passed {
  background-color: #81b214;
}

.z-10 {
  z-index: 10;
}

.episode-content-collapse .collapse,
.episode-content-collapse .collapsing {
  height: 137px;
}

.episode-content-collapse .collapse {
  position: relative;
  display: block;
  overflow: hidden;
}

.episode-content-collapse .collapse.show {
  height: auto;
}

.episode-play-btn {
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.6);
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.06) 2%, rgba(0, 0, 0, 0.11));
}

.episode-content-haze {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 94px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.99), var(--slider-hint, 75%), rgba(255, 255, 255, 0));
}

.episode-content-collapse {
  transition: 0.3s all ease;
}
.episode-content-collapse.--collapse-open {
  padding-bottom: 90px;
}

.btn-grow-education {
  min-width: 166px;
}

.bg-light-green {
  background-color: #e8f3d2;
}

.card-tab-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 1rem;
  max-height: 300px;
}

.btn-webinar {
  width: 280px;
  max-width: 100%;
}

.webinar-last {
  width: 320px;
  max-width: 100%;
  border-radius: 0.5rem;
  --bs-bg-opacity: 0.2;
}

.overflow-tabs {
  overflow-y: hidden;
  overflow-x: auto;
}

.webinar-carousel {
  height: 450px;
}

.webinar-col .custom-flickity-button.--next {
  left: 0 !important;
}
.webinar-col .custom-flickity-button.--prev {
  right: 0 !important;
}

body {
  background-color: #ccc;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/Peyda/eot/PeydaWeb-Regular.eot");
  src: url("../fonts/Peyda/eot/PeydaWeb-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Peyda/woff2/PeydaWeb-Regular.woff2") format("woff2"), url("../fonts/Peyda/woff/PeydaWeb-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Peyda";
  src: url("../fonts/Peyda/eot/PeydaWeb-Medium.eot");
  src: url("../fonts/Peyda/eot/PeydaWeb-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Peyda/woff2/PeydaWeb-Medium.woff2") format("woff2"), url("../fonts/Peyda/woff/PeydaWeb-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Peyda";
  src: url("../fonts/Peyda/eot/PeydaWeb-Bold.eot");
  src: url("../fonts/Peyda/eot/PeydaWeb-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Peyda/woff2/PeydaWeb-Bold.woff2") format("woff2"), url("../fonts/Peyda/woff/PeydaWeb-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Peyda";
  src: url("../fonts/Peyda/eot/PeydaWeb-Semibold.eot");
  src: url("../fonts/Peyda/eot/PeydaWeb-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Peyda/woff2/PeydaWeb-Semibold.woff2") format("woff2"), url("../fonts/Peyda/woff/PeydaWeb-Semibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Peyda";
  src: url("../fonts/Peyda/eot/PeydaWeb-ExtraBold.eot");
  src: url("../fonts/Peyda/eot/PeydaWeb-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Peyda/woff2/PeydaWeb-ExtraBold.woff2") format("woff2"), url("../fonts/Peyda/woff/PeydaWeb-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Peyda";
  src: url("../fonts/Peyda/eot/PeydaWeb-Black.eot");
  src: url("../fonts/Peyda/eot/PeydaWeb-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Peyda/woff2/PeydaWeb-Black.woff2") format("woff2"), url("../fonts/Peyda/woff/PeydaWeb-Black.woff") format("woff");
  font-weight: 950;
  font-display: swap;
}